body
	background: #FFF
	font-family: $museo
	+f(15px,300,1.73) 
	line-height: 1.4
	color: #363636
	min-width: 320px
	position: relative

.btn
	position: relative
	overflow: hidden
	font-weight: 700
	text-transform: uppercase
	text-decoration: none
	font-family: $museo
	font-size: 14px
	text-align: center
	line-height: 2.36
	padding: 12px 39px
	background-color: $pink
	color: $white
	display: inline-block
	transition: background-color .3s
	&:hover
		background-color: #B60475 
	+xs
		padding: 4px 15px
	&_wide
		width: 100%
		padding: 12px 10px
	&_big
		padding: 12px 75px
	&_modal
		padding: 12px 50px
	&__text
		position: relative
		z-index: 1
		display: block

.title
	position: relative
	font-size: 40px
	font-weight: 900
	line-height: 1
	padding-bottom: 22px
	+sm
		font-size: 24px
		padding-bottom: 10px
	&:after
		content: ""
		background-color: $pink
		position: absolute
		left: 5px
		bottom: 0
		width: 213px
		height: 5px
		+sm
			width: 102px
			left: 0
	&_sm
		&:after
			width: 102px
			+sm
				width: 51px

.title-small
	font-size: 18px
	font-weight: 900
	line-height: 1
	+sm
		font-size: 15px
.title-md
	font-size: 20px
	font-weight: 900
	line-height: 1
	+sm
		font-size: 16px

.title-modal
	font-size: 27px
	font-weight: 700
	text-align: center

.message-sending
	display: none
	position: fixed
	z-index: 10
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba(#363636,.7)
	user-select: none
	+vertical
	+gpu
	overflow: auto
	transition: opacity 0.3s, visibility 0.3s, z-index 0.3s
	&__container
		position: relative
		z-index: 1
		font-size: 27px
		font-weight: 700
		vertical-align: middle
		display: inline-block
		max-width: 430px
		width: 100%
		padding: 0 15px
	&__inner
		padding: 60px 40px 35px
		max-width: 100%
		background-color: $white
		+xs
			padding: 45px 15px
	&__x
		position: absolute
		top: 20px
		right: 40px
		background-color: transparent
		font-size: 17px
