body
	background: #FFF
	font-family: $museo
	+f(15px,300,1.73) 
	line-height: 1.4

.btn
	font-weight: 700
	text-transform: uppercase
	text-align: center
	line-height: 2.36
	padding: 13px 39px
	background-color: #db019d
	color: #fff

.btn_wide
	width: 100%
	padding: 13px 0

