---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="js-success message-sending js-message-sending">
		<div class="message-sending__container">
			<div class="message-sending__inner js-message-sending-inner">
				Спасибо, что отсавлили завку, в ближайшее время я вам обязательно перезвоню!
			</div>
			<button class="message-sending__x js-close">&#10006;</button>
		</div>
	</div>

	<div class="js-error message-sending js-message-sending">
		<div class="message-sending__container">
			<div class="message-sending__inner js-message-sending-inner js-error-block">
				
			</div>
			<button class="message-sending__x js-close">&#10006;</button>
		</div>
	</div>

	{% include "partials/_header.html" %}
	
	{% include "partials/_main.html" %}
	{% include "partials/_for-whom.html" %}
	{% include "partials/_video.html" %}
	{% include "partials/_about.html" %}
	{% include "partials/_price.html" %}
	{% include "partials/_students.html" %}
	{% include "partials/_contacts.html" %}

	{% include "partials/_footer.html" %}

{% endblock %}
