<div class="about js-navigation-section" id="about">
	<div class="about__inner inner">
		<h2 class="about__title title title_sm">Обо мне</h2>
	</div>
	<div class="about__content" style="background-image: url(./img/about-bg.jpg)">
		<div class="about__inner inner">
			<div class="about__text">
				<div class="about__item">
					<h5 class="about__topic title-small">Ирина Аркадьевна (тренер)</h5>
					<p>
						Рада вас приветствовать, меня зовут Ирина, я провожу подкатки для хоккеистов как начинающих так и действующих спортсменов.
					</p>
					<p>
						В основном тренирую индивидуально, но могу проводить занятия и в мини-группах. <strong>Имея большой тренерский стаж</strong>, я поняла, что индвидуальные тренировки  самый быстрый и эффективный способ для достижение цели!
					</p>
				</div>
				<div class="about__item">
					<h5 class="about__topic title-small">Немного данных и статистики</h5>
					<ul class="about__list">
						<li class="about__list-item">Закончила Уральский ГУФК (УралГАФК); в 1996 году;</li>
						<li class="about__list-item">Учавствовала в открытии спортивной школы на базе ХК “Металург” 1999 год;</li>
						<li class="about__list-item">Участвовала в хоккейных сборах в “Твери” на базе ДСЮШОР “ЦСКА” 2010 год;</li>
						<li class="about__list-item">Опыт работы с хоккеистами более 12 лет;</li>
						<li class="about__list-item">В 2016-2018 г. тренировала в старанах ЕС;</li>
						<li class="about__list-item">Более 50 моих бывших и нынешних учеников играют в ведущих спортивных школах.</li>
					</ul>
				</div>
				<a href="#" class="btn">
					<span class="btn__text">записаться на подкатки</span>
				</a>
			</div>
		</div>
	</div>
</div>