<div class="contacts">
	<div class="contacts__inner inner">
		<h2 class="contacts__title title title_sm">Контакты</h2>
		<div class="contacts__top">
			<a href="tel:+79250907675" class="contacts__tel">+7 (925) 090-76-75</a>
			<a href="mailto:skating-star@yandex.ru" class="contacts__email">skating-star@yandex.ru</a>
		</div>
	</div>
	<div class="contacts__center">
		<div class="contacts__inner inner">
			<h5 class="title-md">
				Адреса катков где я провожу индвидуальны занятия: 
			</h5>
			<ul class="contacts__list">
				<li class="contacts__item contacts__item_bold">г. Москва, шоссе Энтузиастов, д. 12, корп. 2  (ХК “ГРАД”) 3 этаж</li>
				<li class="contacts__item">г. Москва, Киевского Вокзала площадь, дом 2 (ТЦ Европейский) 7 этаж</li>
				<li class="contacts__item">Мос. обл. г. Красногорск, Красногорский бульвар, д. 4  (Снежком)</li>
			</ul>
		</div>
	</div>
</div>