<footer class="footer">
	<div class="footer__up">
		<div class="footer__container container">
			<button class="btn-up js-btn-up" type="button">
				<svg width="59" height="59" viewBox="0 0 59 59" xmlns="http://www.w3.org/2000/svg">
					<title>up</title>
					<g stroke="#ffffff" fill="none" fill-rule="evenodd">
						<path d="M1.5 29.13c0 15.26 12.37 27.63 27.63 27.63s27.63-12.37 27.63-27.63S44.39 1.5 29.13 1.5 1.5 13.87 1.5 29.13z" stroke-width="3" fill="rgba(17, 13, 127, 0.45)" fill-rule="nonzero" opacity="1"/>
						<g stroke-linecap="round" stroke-width="4">
							<path d="M18.5 32.5l11-10"/>
							<path d="M29.5 22.5l11 11"/>
						</g>
					</g>
				</svg>
			</button>
		</div>
	</div>
	<div class="footer__inner inner">
		<div class="footer__ad">Разработка и продвижение сайта - <a href="http://blacksmithstudio.ru/" target="_blank">BlacksmithStudio.ru</a></div>
	</div>
</footer>