<div class="for-whom js-navigation-section" id="for-whom">
    <div class="for-whom__inner inner">
        <h2 class="for-whom__title title">Подкатки идеально подходят</h2>
        <div class="for-whom__content">
            <div class="for-whom__text">
                {% for item in [
                    {
                        title: "Хоккеистам СДЮШ и СДЮШОР",
                        text: "Которым очень необходим навык владения коньком для качественной, быстрой и результативной игры! Молодой хоккеист на моих тренировках научиться двигаться быстрее, правильно и увеличит арсенал приемов. Уже после 5-10 занятий вы почувствуете профессиональный рост, и ваш ребенок будет кататься на более высоком уровне!"
                    },
                    {
                        title: "Начинающим взрослым и детям",
                        text: "Хоккеистам, которые только недавно встали на лёд или готовиться к своему первому сезону! Уже за несколько практических занятий с тренером вы улучшить свой (вашего ребенка) навык скольжения.  Научиться правильно выполнять базовые элементы, быстро набирать скорость, делать перебежки, развороты и двигаться ходом назад и многое другое."
                    }
                    ] %}
                    <div class="for-whom__item">
                        <h5 class="for-whom__topic title-small">{{ item.title }}</h5>
                        <p>
                            {{ item.text }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="for-whom__img" data-stagger-show>
        <img src="./img/skates.jpg" alt="img">
    </div>
</div>