<header class="header">
	<div class="header__inner inner">
		<div class="header__logo">
			skating.star
		</div>
		<div class="header__links">
			<a href="tel:+79150844763" class="header__tel">
				+7 (915) 084-47-63
			</a>
			<a href="http://instagram.com" class="header__inst">
				{{ mixins.icon('instagram') }}
			</a>
		</div>
		<nav class="header__nav nav">
			<ul class="nav__list">
				{% for item in [
						'Для кого?',
						'Видео с подкаток',
						'Обо мне',
						'Стоимость',
						'Мои ученики',
						'Контакты'
					] %}
					<li class="nav__item">
						<a href="#" class="nav__link">{{ item }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</header>