<div class="main js-navigation-section">
	<div class="main__video js-video" data-vide-bg="mp4: video/3" data-vide-options="posterType: jpg, loop: true, playsinline: true"></div>
	<div class="main__container">
		<div class="main__content">
			<div class="main__inner inner">
				<h2 class="main__title">Подкатки по хоккею в москве</h2>
				<h3 class="main__subtitle">Индивидульные занятия  для тех, кто хочет повысить навык катания ребенка или свой собственный, стать заметее на льду или перейти в более сильную команду!</h3>
				<div class="main__form">
					<form action="form.php" class="form js-form" method="POST">
						<div class="row">
							<div class="col col-33 col-sm-100">
								<div class="form__input-group"><input type="text" class="form__input" name="name" placeholder="Имя"></div>
							</div>
							<div class="col col-33 col-sm-100">
								<div class="form__input-group"><input type="text" class="form__input js-phone-mask" name="phone" placeholder="Телефон" minlength="16"></div>
							</div>
							<div class="col col-33 col-sm-100">
								<button class="btn btn_wide js-btn-submit" type="submit">
									<span class="btn__text">записаться на подкатки</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="main__footer">
			<div class="main__inner inner">
				<div class="main__footer-wrap">
					{% for item in [
						{
							icon: "friendship",
							text: "Индивидальный 
							подход к каждому"
						},
						{
							icon: "first",
							text: "Работаю на достижение
							РЕЗУЛЬТАТА!"
						},
						{
							icon: "friendship",
							text: "Более 300
							довольных учеников"
						},
						{
							icon: "first",
							text: "Дипломированый тренер
							Опыт более 20 лет!"
						}
					] %}
						<!-- <div class="col col-25"> -->
							{{ mixins.benefitsItem(item) }}
						<!-- </div> -->
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>