{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro benefitsItem(props) %}
	<div class="benefits-item">
		<div class="benefits-item__icon">
			{{ icon( props.icon ) }}
		</div>
		<div class="benefits-item__text">
			{{ props.text }}
		</div>
	</div>
{% endmacro %}

{% macro priceItem(props) %}
	<div class="price-item">
		<h5 class="price-item__title title-small">{{ props.title }}</h5>
		<div class="price-item__subtitle">{{ props.subtitle }}</div>
		<div class="price-item__cost">
			Стоимость:
			<span class="price-item__value">
				{{ props.price }}
			</span>
			{% if props.hint %}
				<div class="price-item__hint">
					по <span>1850</span> Р - 1 тренировка
				</div>
			{% endif %}
		</div>
		<div class="price-item__time">
			{{ props.time }}
		</div>
		<div class="price-item__btn">
			<a href="#" class="btn btn_big" data-modal-control="modal-form">
				<span class="btn__text">записаться</span>
			</a>
		</div>
	</div>
{% endmacro %}