<div class="students js-navigation-section" id="students">
	<div class="students__inner inner">
		<div class="students__title title">Мои ученики</div>
		<div class="students__list slider js-slider">
				{% for item in [
						{
							title: "Александр",
							subtitle: "(СДЮШОР “ЦСКА” 2005г.)",
							img: "student-1.jpg",
							text: "Проходил предсезонную подготовку
							в 2010, 2011, 2013 г."
						},
						{
							title: "Семён",
							subtitle: "(СДЮШОР “Динамо” 2010г.)",
							img: "student-2.jpg",
							text: "Проходил предсезонную подготовку
							в 2015, 2016, 2017, 2018 г."
						},
						{
							title: "Александр",
							subtitle: "(СДЮШОР “Минск” 2005г.)",
							img: "student-3.jpg",
							text: "Проходил предсезонную подготовку
							в 2010, 2011, 2013 г."
						}
					] %}
					<div class="students__slide slider__slide">
						<div class="students__item students-item">
							<div class="students-item__title title-small">{{ item.title }}</div>
							<div class="students-item__subtitle">{{ item.subtitle }}</div>
							<div class="students-item__img" style="background-image: url(./img/{{ item.img }})">
								<!-- <img src="./img/{{ item.img }}" alt="img"> -->
							</div>
							<p>
								{{ item.text }}
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
	</div>
</div>