.contacts
	&__top
		padding: 53px 0 37px
		+sm
			padding: 20px 0 13px
	&__tel
		display: block
		font-size: 30px
		font-weight: 900
		color: #363636
		text-decoration: none
		+sm
			font-size: 18px
	&__email
		display: block
		font-size: 25px
		color: $pink
		font-weight: 700
		+sm
			font-size: 18px
	&__center
		padding: 40px 0 50px
		background-color: #f6f7fd
		+sm
			padding: 25px 0
	&__list
		margin-top: 12px
	&__item
		position: relative
		font-size: 17px
		color: #1616a6
		font-weight: 500
		padding-left: 15px
		+sm
			font-size: 15px
		&:before
			content: ""
			position: absolute
			width: 6px
			height: 6px
			background-color: #1616a6
			left: 0
			top: 9px
			border-radius: 50%
		&_bold
			font-weight: 700
			font-size: 19px
			+sm
				font-size: 15px