.for-whom
	padding-top: 65px
	position: relative
	z-index: 1
	overflow: hidden
	+sm
		padding-top: 25px
	&__title
		margin-bottom: 45px
		+sm
			margin-bottom: 25px
	&__text
		line-height: 2.2
		+sm
			line-height: 1.2
	&__item
		max-width: 665px
		&:not(:last-child)
			margin-bottom: 47px
			+sm
				margin-bottom: 20px
	&__topic
		margin-bottom: 10px
		+sm
			margin-bottom: 5px
	&__img
		position: absolute
		top: 137px
		right: 0
		z-index: -1
		transform: translateX(100%)
		opacity: .3
		transition: transform .6s ease-in-out, opacity .6s ease-in-out
		+sm
			position: sticky
		img
			display: block
			max-width: 100%
		&.is-animate
			transform: translateX(0%)
			opacity: 1
