.form
	max-width: 865px
	&__input-group
	&__input
		width: 100%
		font-family: $museo
		line-height: 2.2
		padding: 13px 24px
		border: 1px solid #989898
		color: #666696
		+placeholder
			color: #666696