.students
	padding: 60px 0 70px
	+sm
		padding: 25px 0
	&__title
		margin-bottom: 50px
		+sm
			margin-bottom: 25px
	&__list
		box-shadow: 0 0 15px rgba(#b8b8b8,.48)
	
.students-item
	padding: 35px 60px 40px
	text-align: center
	font-size: 14px
	line-height: 2.357
	+xs
		padding: 20px 15px
	&__title
		margin-bottom: 10px
	&__subtitle
		margin-bottom: 15px
	&__img
		width: 166px
		height: 166px
		border-radius: 50%
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		display: inline-block
		vertical-align: top
		border: 1px solid $white
		box-shadow: 0 0 22px rgba(#b8b8b8,.48)
		margin-bottom: 35px
		+sm
			margin-bottom: 15px