.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-first {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-friendship {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-ice-skate {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
